@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.poppins-regular {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-style: normal;
}

/*CSS Reset*/

* {
    margin: 0;
    padding: 0;
}
*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100dvh;
}
input,
button,
textarea,
select {
    font: inherit;
}

p {
    text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

img,
video,
svg {
    height: auto;
    max-width: 100%;
}

@media (prefers-reduce-motion: reduce) {
    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: auto !important;
        scroll-behavior: auto !important;
        transition: none;
    }
}

body {
    background-color: #f7f7f7;
}

a {
    text-decoration: none;
    color: #2b2b2b;
}

.header {
    display: flex;
    z-index: 2;
    position: sticky;
    top: 0;
    backdrop-filter: blur(1rem);
    background-color: rgba(248, 248, 248, 0.897);
    color: #2b2b2b;
    font-size: 0.8rem;
    font-family: 'Poppins';
    font-weight: 600;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    box-shadow: 0 0 2rem -1rem rgba(0, 0, 0, 0.5);
}

.nav-menu {
    display: flex;
    list-style-type: none;
    gap: 10rem;
}

.nav-link {
    text-decoration: none;
    color: #2b2b2b;
}

.main-title {
    padding: 3rem;
    font-size: 1.5rem;
    color: #2b2b2b;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.list-container {
    display: grid;
    place-items: center;
    min-height: 50vh;
}

.contenedor-productos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    max-width: 1000px;
    margin: 0 auto;
}

.producto-imagen {
    max-width: 100%;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.producto {
    display: flex;
    flex-direction: column;
}

.producto-detalles {
    color: #2b2b2b;
    background-color: #eaeeef;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    position: relative;
    padding: 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-weight: 600;
}

.producto-titulo {
    font-size: 1rem;
}

.producto-ver-mas {
    color: #f8f4f4;
    text-transform: uppercase;
    cursor: pointer;
    padding: 0.5rem;
    border: 0;
    border-radius: 0.5rem;
    background-color: #2b2b2b;
    font-weight: 500;
    text-decoration: none;
    font-size: 0.8rem;
}

main {
    padding: 3rem;
}

.footer {
    background-color: white;
    font-size: 0.8rem;
    text-align: center;
    position: fixed;
    padding-top: 1rem;
    bottom: 0;
    width: 100%;
    height: 3.5em;
    color: #2b2b2b;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}

.item-detail {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ddd;
    padding: 5rem 5rem 5rem 5rem;
    margin: 10rem;
    border-radius: 8px;
    background-color: #eaeeef;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.item-image {
    width: 25%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    margin-right: 16px;
}

.item-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.item-title {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    margin-bottom: 8px;
}

.item-price {
    font-size: 16px;
    color: #888;
    margin: 0;
}

.logo-title {
    font-style: italic;
    font-family: 'Poppins', sans-serif;
}

.need-help {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: #2b2b2b;
    font-size: 0.8rem;
}

.add-product {
    color: #f8f4f4;
    font-size: .9rem;
    text-transform: uppercase;
    cursor: pointer;
    padding: 0.3rem;
    border: 0;
    border-radius: 0.5rem;
    background-color: #2b2b2b;
}

.producto-agregado {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.vaciar-carrito {
    display: flex;
    margin: 1rem;
}

.carrito-total {
    display: flex;
    padding: 1rem;
}

.form-checkout {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    border: 1px solid #ddd;
    padding: 5rem 0rem 5rem 0rem;
    margin: 10rem;
    border-radius: 8px;
    background-color: #eaeeef;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.form-input {
    color: #2b2b2b;
    font-size: .9rem;
    width: 30rem;
    padding: 0.5rem;
    border: 0;
    border-radius: 0.5rem;
}

.form-submit {
    border-radius: 0.5rem;
    text-transform: uppercase;
    font-size: .9rem;
    padding: 0.5rem;
    background-color: #2b2b2b;
    color: #f8f4f4;
}
