@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #f7f7f7;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f8f8;
    padding: 1rem;
    box-shadow: 0 0 2rem -1rem rgba(0, 0, 0, .5);
}

.nav-menu {
    display: flex;
    list-style-type: none;
    gap: 2rem;
}

.nav-link {
    text-decoration: none;
    color: #000
}

.list-container {
    display: grid;
    place-items: center;
    min-height: 50vh;
}