@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.poppins-regular {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #f7f7f7;
}

a {
    text-decoration: none;
    color: #2b2b2b;
}

.header {
    display: flex;
    z-index: 2;
    position: sticky;
    top: 0;
    backdrop-filter: blur(1rem);
    background-color: rgba(248, 248, 248, 0.897);
    color: #2b2b2b;
    font-size: 0.8rem;
    font-family: 'Poppins';
    font-weight: 600;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    box-shadow: 0 0 2rem -1rem rgba(0, 0, 0, 0.5);
}

.nav-menu {
    display: flex;
    list-style-type: none;
    gap: 10rem;
}

.nav-link {
    text-decoration: none;
    color: #2b2b2b;
}

.main-title {
    padding: 3rem;
    font-size: 1.5rem;
    color: #2b2b2b;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.list-container {
    display: grid;
    place-items: center;
    min-height: 50vh;
}

.contenedor-productos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    max-width: 1000px;
    margin: 0 auto;
}

.producto-imagen {
    max-width: 100%;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.producto {
    display: flex;
    flex-direction: column;
}

.producto-detalles {
    color: #2b2b2b;
    background-color: #eaeeef;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    position: relative;
    padding: 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-weight: 600;
}

.producto-titulo {
    font-size: 1rem;
}

.producto-ver-mas {
    color: #f8f4f4;
    text-transform: uppercase;
    cursor: pointer;
    padding: 0.5rem;
    border: 0;
    border-radius: 0.5rem;
    background-color: #2b2b2b;
    font-weight: 500;
    text-decoration: none;
    font-size: 0.8rem;
}

main {
    padding: 3rem;
}

.footer {
    background-color: white;
    font-size: 0.8rem;
    text-align: center;
    position: fixed;
    padding-top: 1rem;
    bottom: 0;
    width: 100%;
    height: 3.5em;
    color: #2b2b2b;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}

.item-detail {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ddd;
    padding: 5rem 5rem 5rem 5rem;
    margin: 10rem;
    border-radius: 8px;
    background-color: #eaeeef;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.item-image {
    width: 25%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    margin-right: 16px;
}

.item-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.item-title {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    margin-bottom: 8px;
}

.item-price {
    font-size: 16px;
    color: #888;
    margin: 0;
}

.logo-title {
    font-style: italic;
    font-family: 'Poppins', sans-serif;
}
